.productCard_img {
  width: 200px;
  height: 240px;
  border-radius: 5px;

  /* justify-content: center; */
}

.productList-films {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  justify-content: center;
  gap: 30px;
}

.productCard_card {
  width: 213px;
  height: 450px;
  background: rgb(29, 29, 29);
  padding: 0.4em;
  border-radius: 6px;
  margin: 20px;
}

.productCard_card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 20px 2px #ffffff4e;
  transition: 0.3s;
}

.productCard_p {
  line-height: 4px;
}

.edit-btn {
  height: 25px;
  width: 20%;
  margin: 0px 10px 0px 0px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid rgb(141, 141, 141);
  color: white;
}
.delete-btn {
  height: 25px;
  width: 60px;
  margin: 0px 10px 0px 0px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid rgb(141, 141, 141);
  color: white;
}

.productCard_p {
  color: white;
}

.watch-a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
.watch-btn {
  background-color: rgb(171, 0, 0);
  width: 50%;
  height: 26px;
  border-radius: 8px;

  border: 1px transparent solid;
}
/* .product_list {
  background-color: black;
} */
.card-comment {
  margin-top: 7px;
  border-radius: 5px;
}

.imageBefore {
  width: 40%;
  margin-bottom: 10px;
}

.image_p {
  color: white;
}

.raiting {
  background-color: #ffffff4e;
}
