.forgotContainer{
    background-color: white;
    height: 536px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgotWrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
 

  align-items: center;
 justify-content: center;
  margin: 10px 35%;
  gap:30px
} 

