.adminPage_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.adminPage_inputs {
  width: 40%;
  height: 25px;
  margin-bottom: 1%;
}

.adminPage_h2 {
  font-size: 2rem;
}
