


@media all and (max-width: 2000px){
    #burger-menu{
        display: none;
    }
   .main-nav{
    width: 100%;
   }
   .main-nav{
    width: 100%;
   }
}

@media all and (max-width: 1441px){
    #burger-menu{
        display: none;
    }
   .main-nav{
    width: 100%;
   }
   .main-nav{
    width: 100%;
   }
}


@media all and (max-width: 1025px){
    #burger-menu{
        display: none;
    }
}

@media all and (max-width: 769px){
   #burger-menu{
    display: flex !important;
   }
  .productList-nav-link{
    display: none;
  }
  .admin-nav-link{
    display: none;
  }
  .formOrder-btn{
    display: none;
  }
  .auth-btn{
    display: none;
    
  }
}