.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.575);
}
.logo{
    width: 75px;
}
.auth-btn{
    list-style-type: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: transparent;
    font-weight: 500;
}
.formOrder-btn{
    list-style-type: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    
  font-weight: 500;
    border-radius: 5px;
    background-color: transparent;
}