.resetWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 8%; */
    gap: 30px;
    height: 550px;
    background-color: white;
    justify-content: center;
    
}